.slider_section {
    min-height: 560px;
    background: #595F72;
    position: relative;
}
.slider_section::after {
   width: 54%;
   position: absolute;
   top: 0;
   right: -370px;
   content: "";
   background: #0FA3B1;
   display: block;
   height: 100%;
   transform: skew(50deg);
   max-width: 100%; 
}
.slider_section::before {
   width: 100%;
   position: absolute;
   bottom: 0;
   right: 0px;
   content: "";
   background: transparent;
   display: block;
   height: 20px;
   max-width: 100%; 
}
.slider_section .full {
    position: relative;
    z-index: 9;
    color: aliceblue;
    max-width: 100%; 
}
.slide_img {
   margin-top: 20%;
   margin-bottom: 0;
}

.scaled-image {
    width: 480px; /* Ancho fijo deseado */
    height: auto; /* Altura automática para mantener la proporción */
    max-width: 100%; /* Evita que la imagen se desborde del contenedor */
  }
  