.LocationWrapper{
    display: grid ;
    grid-template-rows: auto;
    box-sizing:content-box ;
    align-content: center;
    margin: 0;
    background-color:#353535;
    
}
.Info{
    width: 100%;
    text-align: center;
    box-sizing:content-box ;
    align-content: center;
    padding-bottom: 10%;
    padding-left: 2%;
    font-size: 22px;
    color: #d9d9d9;
    
   
}
.mapouter{
    position:relative;
    height:auto;
    width:100%;
    padding-bottom: 15px;
    overflow: hidden;
}

#gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:100%;
   
}

@media screen and (max-width: 600px){

    .LocationWrapper{
        display:grid;
        grid-template-columns:auto;
    }

    .Info{
        margin: 0;
        width: 50%;
        text-align: center;
        box-sizing:content-box ;
        align-content: center;
        font-size: 22px;
        color: #d9d9d9;
        
       
    }

    #gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:500px;
        width:100%;
       
    }

    .mapouter{
        position:relative;
        height:auto;
        width:100%;
        padding-bottom: 15px;
        overflow: hidden;
    }
}