.CarouselWrapper{
    width: 100% ;

    background-color: #a6b361;
    /* Add this */
    top:0;
    left:0;
    margin: 0;
    padding: auto;
}


img .CarouselWrapper {

    height:100%;
    width:100%
}

#TheSlider {

    width: 100%;
}